body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f2f5;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  min-height: 100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}